
/*
 *----------------------
 *	Variáveis
 *----------------------
**/

@blue:  #518FB9;
@black: #525252;
@gray:  #D0D0D0;
@red:	#EF8E7D;


.grid-full{
	float: left;
	width: 100%;
}
	
.border{
	border: 1px solid #EBEBEB;
}

.border-t{
	border-top: 1px solid #EBEBEB;
}

.border-r{
	border-right: 1px solid #EBEBEB;
}

.border-b{
	border-bottom: 1px solid #EBEBEB;
}

.border-l{
	border-left: 1px solid #EBEBEB;
}

/**
 * -------------------
 * Rounded = arredondado, Round = redondo.
 * -------------------
 */

.rounded{
	border-radius: 5px;
}

.round{
	border-radius: 50%;
}

.shadow{
	-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
}

/*
 *----------------------
 *	Componentes
 *----------------------
**/

.list{

	color: @black;

	li, a{
		padding: 1em 2%;
		border: 1px solid @gray;
		border-bottom: none;
		text-align: left;

		&:last-child{
			border-bottom: 1px solid @gray;
		}

		&:hover .list-markup{
			color: @black;
		}

		.list-markup{
			float: right;
			margin: 0;
			padding: 0;
			border: none;
			color: @blue;
			text-align: center;

			&:hover{
				color: @black;
				background: none;
			}

			*{
				float: left;
			}

			[class^="flaticon-"]{
				float: none;

				&:hover{
					text-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.2);
				}
			}
		}

		&.active{
			background: @blue;
			color: white;

			.list-markup{
				color: white;

				&:hover{
					color: @black;
				}
			}
		}

		p{
			float: none;
			margin: 0 1% 0;
			padding: 0;
			width: 98%;
			line-height: 1.5em;
			text-align: left;
		}
	}

	a{
		display: list-item;
		color: @blue;
		text-decoration: none;

		&:hover{
			background: @blue;
			color: white;
		}
	}

	.list-header{
		font-size: 1.5em;
		padding: 0.6em 1%;

		.avatar-img{
			top: 15%;
			padding: 0.5em 0 !important;
		}
	}


	.avatar{
		padding: 1em 3.5em;
		position: relative;

		.li-title{
			color: black;
			text-align: left;
		}

		.avatar-img{
			position: absolute;
			float: left;
			left: 2%;
			padding: 0.4em 0;
			width: 2em;
			text-align: center;
		}

		&:hover .list-markup{
			color: white;
		}

		.list-markup{
			color: white;
			float: none;

			&:before{
				font-size: 1em;
			}
		}
	}
}

.box{
	.shadow;

	float: left;

	*{
		float: left;
	}
	
	.box-content{
		padding: 1em 3%;

		p{
			text-align: left;
		}
	}

	.box-title{
		font-size: 1.2em;
	}

	.box-img{
		width: 100%;

		img{
			width: 100%;
		}
	}

	.box-action{
		padding: 1em 3%;
		width: 94%;
		.border-t;
		text-align: left;

		*{
			color: @red;
			text-decoration: none;
			width: 45%;
			margin: 0 2.5%;

			&:hover{
				opacity: .8;
			}
		}
	}
}

.bg-black, .bg-red,.bg-orange, .bg-blue, .bg-green{
	.box-action{

		*{
			color: white;
		}
	}
}

footer{
	position: relative;
	bottom: 0;
	padding-bottom: 1px;
	.grid-full

	.footer-second{
		margin-bottom: -1px;
		.wrapper{

			*{
				padding: 0;
				color: gray;
			}
		}
	}

	.footer-nav{
		ul, ol{

			li{
				margin: 0.6em 0;

				a{
					text-decoration: none;
					color: white;
				}
			}
		}
	}
}

@keyframes preload{
	from {left: 0;}
	to {left: 100%;}
}

@-webkit-keyframes preload{
	from {left: -99%;}
	to {left: 100%;}
}

.preloader{
	width: 100%;
	height: 0.3em;
	background: @black;
	overflow: hidden;
	position: relative;
	.rounded;
	
	span{
		position: absolute;
		float: left;
		left: 0;
		width: 30%;
		height: 0.3em;
		-webkit-animation: preload 4s linear infinite;
		-o-animation: preload 4s linear infinite;
		animation: preload 4s linear infinite;
	}
}

/*
 *------------------------------
 *	Box Dinâmico
 *------------------------------
 */

.dinamic-item{
	position: relative;
	.grid-full;

	.dinamic-call{
		.grid-full;
		text-align: center;

		span,i{
			padding: 10% 0;
			display: inline-block;
		}
	}
	.dinamic-description{
		opacity: 0;
		position: absolute;
		width: 100%;
		background: @black;

		&.esquerda{
			left: 110%;

			&:before{
				content: "";
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
				width: 0; 
				height: 0;

				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent; 
				border-right: 15px solid @black;

				position: absolute;
				left: -15px;
			}
		}

		&.direita{
			left: -110%;

			&:before{
				content: "";
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
				width: 0; 
				height: 0;

				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent; 
				border-left: 15px solid @black;

				position: absolute;
				right: -45px;
			}
		}
	}

	&:hover{
		.dinamic-description{
			z-index: 99;
			opacity: 1;
		}
	}
}